.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

.lead {
  font-size: 2em;
  margin-bottom: 2rem;
  color: #999; }

.text-center {
  text-align: center; }

.bottom-line {
  max-width: 1280px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 5rem 0; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.my-4 {
  margin: 4rem 0; }

.section-title {
  font-size: 3rem;
  display: block;
  padding-bottom: 5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff; }

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 3rem; }

.section-title {
  font-size: 2.2em;
  margin-top: 3rem; }

.lead {
  font-size: 1.5rem; }

.item {
  position: relative;
  background: #0f1010;
  overflow: hidden;
  margin: 2rem; }
  .item::after {
    content: '';
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.95;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1); }
  .item:hover:after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg); }
  .item:hover .item-image {
    transform: scale(1.2); }
  .item:hover .item-text {
    opacity: 1;
    transform: translateY(0); }
  .item-image {
    height: auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1); }
  .item-image:before {
    content: '';
    display: block;
    padding-top: 75%;
    overflow: hidden; }
  .item-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    line-height: 0; }
  .item-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 300ms; }
  .item-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%); }
  .item-text-title {
    font-size: 1.4rem;
    padding: 0 1rem;
    margin: 5px 0 0 0; }
  .item-text-category {
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0.7;
    margin: 0; }
  .item-text-info {
    text-transform: uppercase;
    font-size: 1rem;
    opacity: 0.7;
    margin: 1rem;
    letter-spacing: 1px; }
  .item-text-wrap .fab {
    font-size: 30px;
    margin-top: 1rem;
    color: #575757;
    transition: all 0.2s; }
  .item-text-wrap .fab:hover {
    color: #fff;
    font-size: 35px; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background: #0f1010; }

a {
  text-decoration: none;
  color: #fff;
  font-weight: 500; }

ul {
  list-style: none; }

h2, h3, h4 {
  text-transform: uppercase; }

img {
  width: 100%; }

#logo {
  width: 70px;
  height: 70px; }

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem; }
  #main-nav ul {
    display: flex; }
  #main-nav li {
    padding: 1rem 1.5rem; }
  #main-nav:hover ul:hover a {
    opacity: 0.5; }
  #main-nav:hover ul:hover a:hover {
    opacity: 1; }
  #main-nav .anim::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s; }
  #main-nav a {
    text-decoration: none;
    color: #fff;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    #main-nav a:hover::after {
      width: 100%;
      transition: width .2s; }

#header-home {
  height: 100vh;
  color: #fff; }
  #header-home .header-content {
    text-align: center;
    padding-top: 20%; }
  #header-home h1 {
    font-size: 4em;
    line-height: 1.2; }
  #header-home .btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: 0.5s;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff; }
  #header-home .dark {
    background: -webkit-linear-gradient(0deg, transparent 50%, #fff 50%);
    background-size: 400px 80px;
    border: 1px solid #fff; }
  #header-home .dark:hover {
    background-position: 200px 0;
    color: #0f1010; }

#home-b .container {
  color: #fff; }

#home-b .specials {
  margin-top: 3rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  color: #999; }
  #home-b .specials h3 {
    color: #fff;
    margin: 1rem;
    font-weight: 200;
    font-size: 1.5rem; }

#home-b .technologies {
  margin: 3rem 0 4rem 0;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  #home-b .technologies .tech-icon1,
  #home-b .technologies .tech-icon2 {
    display: inline-block;
    letter-spacing: 2rem;
    margin: 2rem 0rem;
    display: flex;
    flex-wrap: row wrap;
    color: #575757; }
    #home-b .technologies .tech-icon1 .fab:hover,
    #home-b .technologies .tech-icon2 .fab:hover {
      color: #fff; }

.about-info {
  display: flex;
  color: #999;
  flex-wrap: wrap; }
  .about-info img {
    width: 50%; }
  .about-info .info {
    width: 40%;
    padding-left: 6rem;
    text-align: left; }
    .about-info .info .first-p {
      font-size: 1.5rem;
      padding-bottom: 2rem; }
    .about-info .info .sec-p {
      font-size: 1.2rem;
      padding-bottom: 1rem; }
    .about-info .info .social-info {
      margin-top: 50px;
      font-size: 1.2rem; }
      .about-info .info .social-info a {
        padding-right: 1.5rem;
        display: inline-block; }
      .about-info .info .social-info .anim-hover::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        transition: width .3s; }
      .about-info .info .social-info .anim-hover:hover::after {
        width: 100%;
        transition: width .3s; }

#home-c .text-fields {
  display: grid;
  grid-template-areas: 'name email' 'message message';
  grid-gap: 1.2rem;
  margin: 3rem 0;
  width: 500px; }
  #home-c .text-fields .name-input {
    grid-area: name; }
  #home-c .text-fields .email-input {
    grid-area: email;
    margin-left: 3rem; }
  #home-c .text-fields .message-input {
    grid-area: message;
    height: 100px;
    margin-top: 1.5rem;
    resize: none;
    font-size: 1.3rem; }
  #home-c .text-fields .text-input {
    padding: 0.5rem 1rem;
    color: #fff;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 1.5rem; }

#home-c .btn {
  display: inline-block;
  margin-top: 3rem;
  padding: 0.8rem 2rem;
  transition: 0.5s;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff; }

#home-c .dark {
  background: -webkit-linear-gradient(0deg, transparent 50%, #fff 50%);
  background-size: 400px 80px;
  border: 1px solid #fff; }

#home-c .dark:hover {
  background-position: 200px 0;
  color: #0f1010; }

#main-footer {
  color: #999;
  height: 5rem; }
  #main-footer .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center; }
    #main-footer .footer-content .social .fab {
      margin-right: 1rem;
      font-size: 25px;
      cursor: pointer;
      color: #575757;
      transition: all 0.2s; }
      #main-footer .footer-content .social .fab:hover {
        color: #fff;
        font-size: 30px; }
